{% load static %}

<!DOCTYPE html>
<html ng-app="jeopardy">
	<head>
		<title>Jeopardy</title>
		<link rel="stylesheet" href="{% static 'css/jeopardy.css' %}">
	</head>
	<body ng-controller="game">
		<video src="{% static 'mov/intro.mp4' %}"></video>
		
		<game-board ng-if="!game.final_jeopardy"></game-board>
		<final-jeopardy ng-if="game.final_jeopardy"></final-jeopardy>
		
		<script type="text/javascript" src="{% static 'js/angular.min.js' %}"></script>
		<script>
			window.GAME_ID = '{{ pk }}';
			window.STATIC_URL = {% static '' %};
		</script>
		<script type="text/javascript" src="{% static 'js/jeopardy.js' %}"></script>
	</body>
</html>